# Git LFS - Archivos Parquet
*.parquet filter=lfs diff=lfs merge=lfs -text
# Nacional
nacional/*.parquet filter=lfs diff=lfs merge=lfs -text
# Catalunya
catalunya/**/*.parquet filter=lfs diff=lfs merge=lfs -text
